<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheet/rechner.css">
  <link rel="icon" type="text/css" href="/images/rechner.ico">
  <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>

<div class="calculator">
  <label for="display">

  </label>

  <input type="text" class="display" id="display" disabled>

<div class="buttons">

  <button onclick="addNumber('1')">1</button>
  <button onclick="addNumber('2')">2</button>
  <button onclick="addNumber('3')">3</button>
  <button onclick="setOperator('+')">+</button>

  <button onclick="addNumber('4')">4</button>
  <button onclick="addNumber('5')">5</button>
  <button onclick="addNumber('6')">6</button>
  <button onclick="setOperator('-')">-</button>

  <button onclick="addNumber('7')">7</button>
  <button onclick="addNumber('8')">8</button>
  <button onclick="addNumber('9')">9</button>
  <button onclick="setOperator('*')">*</button>

  <button onclick="clearDisplay()">C</button>
  <button onclick="addNumber('0')">0</button>
  <button onclick="calculate()" class="equals">=</button>
  <button onclick="setOperator('/')">/</button>




</div>
</div>

<script>

  let currentInput = '';
  let operator = '';
  let previousInput = '';
  let input = '';


  function addNumber(number) {

    currentInput += number;
    input += number;
    document.getElementById('display').value = input;
  }

  function setOperator(op){
    operator = op;
    previousInput = currentInput;
    currentInput = '';
    input += op;
    document.getElementById('display').value = input
  }

  function calculate() {
    const params = new URLSearchParams();
    params.append("previousInput", previousInput);
    params.append("currentInput", currentInput);
    params.append("op", operator);

    fetch("/Rechner", {
      method: "POST",
      headers: {
        "Content-Type": "application/x-www-form-urlencoded"
      },
      body: params
    })
            .then(response => response.text())
            .then(result => {
              document.getElementById('display').value = result;
              currentInput = result.toString();
              operator = '';
            });
  }







  function clearDisplay() {
    currentInput = '';
    previousInput = '';
    operator = '';
    input = '';
    document.getElementById('display').value = ''; // Clear the display
  }

</script>


</body>
</html>