button{



    margin: 20px;
    font-size: 1.2em;
    border: none;
    background-color: rgba(80, 80, 80, 0.6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

body{
    background-image: url("https://wallpapercave.com/wp/wp2561072.jpg");
    text-align: center;

}